html {
  background-color: black;
  text-align: center;
  color: white;
}

.header {
  font-size: 40pt;
  color: yellow;
}

.rogues {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  justify-content: center;
}

h1 {
  color: palegoldenrod;
  margin-bottom: 0;
}

h2 {
  margin-top: 10px;
}

.year {
  margin-top: 0;
  color: cornflowerblue;
}